<!DOCTYPE html>
<html lang="en-US">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="styles.css">
<script src="controller.js"></script>
<script src="services.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCtrl">
    <div class="todo-content">
        <h1 class="page-title">My To-Do Application</h1>
        <h5 class="sub-title">To-Do Application</h5>
    </div>
    <div class="todo-content">
        <div class="todo-create">
            <form name="ngForm" ng-submit="createTodo(newTodo.description)"  novalidate>
                <input type="text" id="description" class="form-control" placeholder="Enter a todo and press enter..."
                       required
                       name="description" ng-model ="newTodo.description">
                <a ng-click="createTodo(newTodo.description)" class="submit-btn" title="Add TODO's">
                    <i class="material-icons">library_add</i>
                </a>
                    <div class="alert alert-danger" ng-show="ngForm.description.$invalid && ngForm.description.$dirty">
                        Title is required.
                    </div>
                    <!--<div [hidden]="!description.errors.exists">
                        Todo already exists
                    </div>-->
            </form>
        </div>
        <span class="todo-actions filter-box" title="Filter TODO's">
      <span>Filter</span>
      <a ng-click="editTodo(todo)" class="filter-list">
        <i class="material-icons">filter_list</i>
      </a>
      <div class="filter-items">
        <div class="todo-row" ng-click="addFilter('all')" ng-class="{'activated':customFilter.isCompleted == undefined}">
            <a class="todo-completed">
              <i class="material-icons toggle-completed-checkbox"></i>
            </a>
            <span class="todo-title">
              All
            </span>
        </div>
        <div class="todo-row" ng-click="addFilter('completed')" ng-class="{'activated':customFilter.isCompleted == true}">
            <a class="todo-completed">
              <i class="material-icons toggle-completed-checkbox"></i>
            </a>
            <span class="todo-title">
              Completed
            </span>
        </div>
        <div class="todo-row" ng-click="addFilter('pending')" ng-class="{'activated':customFilter.isCompleted == false}">
            <a class="todo-completed">
              <i class="material-icons toggle-completed-checkbox"></i>
            </a>
            <span class="todo-title">
              Pending
            </span>
        </div>
      </div>
    </span>
        <ul class="todo-list">
            <li ng-repeat="todo in todos | filter:customFilter" class="todo-content-list" ng-class="{'completed':todo.isCompleted}"  >
                <div class="todo-row" ng-if="!editing || editingTodo.id != todo.id">
                    <a class="todo-completed" ng-click="toggleCompleted(todo)">
                        <i class="material-icons toggle-completed-checkbox"></i>
                    </a>
                    <span class="todo-title">
              {{todo.description}}
            </span>
                    <span class="todo-actions">
                <a ng-click="editTodo(todo)">
                  <i class="material-icons edit">edit</i>
                </a>
                <a ng-click="deleteTodo(todo.id)">
                  <i class="material-icons delete">clear</i>
                </a>
            </span>
                </div>
                <div class="todo-edit" ng-if="editing">
                    <input class="form-control" type="text"
                           ng-model="todo.description" required>
                    <span class="edit-actions">
                <a ng-click="complete(todo)">
                  <i class="material-icons">done</i>
                </a>

            </span>
                </div>
            </li>
        </ul>
        <div class="no-todos" ng-if="todos && todos.length == 0">
            <p>No Todos Found!</p>
        </div>
    </div>

</div>

</body>
</html>

